*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
}
:root{
    --text-color: #000000;
    --white: #fafafa;
    --main-color: #f3f3f3;
    --bg: #145771;
    --sky: #c8d9e6;
}
header{
    position: fixed;
    top: 0%;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: black;
    display: flex;
    list-style-type: none;
    gap: 1rem;
    padding: 4px 8rem;
    justify-content: space-between;
    transition: all .50s ease;
}
header.sticky{
    padding: 4px 17%;
    background: transparent;
    backdrop-filter: blur(35px);
}
.logo{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 700;
    color: white;
    padding-top: 0.5rem;
    text-decoration: none;
}
ul.navbar {
    list-style: none;      
    margin: 0;          
    padding: 0;            
    display: flex;         
    gap: 3rem;            
    align-items: center;
}
ul.navbar li {
    margin: 0;
}
ul.navbar a {
    font-family: 'Playfair Display', serif;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    margin: 15px 22px;
    transform: all .50s ease;
    text-decoration: none;
}
.card-img-overlay {
    padding-left: 3rem;
}
.card-title {
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 5rem;
    font-weight: 700;
    color: var(--white);
}
.list-group-item.list-group-item-action.list-group-item-light{
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 2rem 2rem;
    border-bottom: 1px solid var(--bg);
    width: 500px;
    cursor: pointer;
    transition: 100ms ease;
}

.list-group-item.list-group-item-action.list-group-item-light:hover{
    color: var(--text-color);
    scale: 1.5;
} 
.list-group {
    margin-left: 6rem;
    padding-top: 3rem;
    gap: 2rem;
}
.ethics1 {
    padding: 5rem 5rem;
    background-image: linear-gradient(to right, white 50%, black 50%);
}
.text1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}
.des1 {
    font-size: 20px;
}
.des2 {
    font-size: 20px;
    color: white;
    padding-bottom: 14rem;
}
.des3 {
    font-size: 20px;
    color: white;
    padding-bottom: 26rem;
}
.eth1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.eth2{
    color: white;
    padding-bottom: 1rem;
}
.eth3{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}
.sides{
    display: flex;
    align-items: stretch;
}
.left{
    flex: 1;
}
.right{
    flex: 1;
    padding-left: 5rem;
    column-gap: 5rem;
}
.card1 {
    background-color: #fdfdfd;
    padding: 3rem 3rem;
}
.des4 {
    font-size: 20px;
    color: black;
}
.textt{
    padding-top: 5rem;
}
.des5 {
    color: white;
    font-size: 20px;
    padding-bottom: 9rem;
}
.ethics3 {
    padding: 5rem 5rem;
}
.ethics4 {
    background-color: #000000;
    padding: 5rem 5rem;
}
.card-text1 {
    font-size: 20px;
}
.card2 {
    background-color: #000000;
    padding: 4rem 4rem;
}
.card-title2{
    color: white;
}
.card-text2 {
    color: white;
    font-size: 20px;
}
.card-tex {
    color: white;
    font-size: small;
}
.ethics5 {
    padding: 5rem 5rem;
    background-color: #dddddd;
}
.card-header {
    font-size: 2rem;
}
.texty {
    padding-bottom: 3rem;
}
.flexy {
   display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.ref {
    font-size: small;
}