*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
}
:root{
    --text-color: #000000;
    --white: #fafafa;
    --main-color: #f3f3f3;
    --bg: #145771;
    --sky: #c8d9e6;
}
header{
    position: fixed;
    top: 0%;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: #07131f;
    display: flex;
    list-style-type: none;
    gap: 1rem;
    padding: 4px 8rem;
    justify-content: space-between;
    transition: all .50s ease;
}
header.sticky{
    padding: 4px 17%;
    background: transparent;
    backdrop-filter: blur(35px);
}
.logo{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 700;
    color: white;
    padding-top: 0.5rem;
    text-decoration: none;
} 
ul.navbar {
    list-style: none;      
    margin: 0;          
    padding: 0;            
    display: flex;         
    gap: 3rem;            
    align-items: center;
}
ul.navbar li {
    margin: 0;
}
ul.navbar a {
    font-family: 'Playfair Display', serif;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    margin: 15px 22px;
    transform: all .50s ease;
    text-decoration: none;
}
.card-img-overlay {
    padding-left: 3rem;
}
.card-title {
    padding-top: 4rem;
    padding-left: 2rem;
    font-size: 5rem;
    font-weight: 700;
    color: var(--white);
}

.list-group-item.list-group-item-action.list-group-item-light{
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 2rem 2rem;
    border-bottom: 1px solid var(--bg);
    width: 500px;
    cursor: pointer;
    transition: 100ms ease;
}

.list-group-item.list-group-item-action.list-group-item-light:hover{
    color: var(--text-color);
    scale: 1.5;
} 

.list-group {
    margin-left: 6rem;
    padding-top: 3rem;
    gap: 2rem;
}

.question1 {
    background-color: #fdfdfd;
}
.card-body1 {
    background-color: #fdfdfd;
}
.card-title1 {
    color: #001e31;
}
.card-text1 {
    color: #001e31;
    font-size: 20px;
}
.card1 {
    background-color: #fdfdfd;
    padding: 7rem 7rem;
}
.question2 {
    background-color: #001e31;
}
.card-body2 {
    background-color: #001e31;
}
.card-title2 {
    color: white;
}
.card-text2 {
    color: white;
}
.card2 {
    padding: 7rem 7rem;
}
.example-row {
    display: flex;
}
.card-container {
    padding: 1rem 6rem;
    display: grid;
    grid-template-columns: 450px 450px 450px 450px;
    padding-bottom: 5rem; 
}
.ref{
    font-size: small;
}

.text {
    padding: 4rem 6rem;
}
.card-textr{
    color: white;
    font-size: small;
}
.question4 {
    background-color: #000000;
    padding: 2rem 2rem;
}
.card-group {
    color: #000000;
    padding: 4rem 5rem;
    row-gap: 2rem; 
}
.text1 {
    padding: 4rem 6rem;
    color: white;
}
.card-title4 {
    font-weight: 400px;
}
.card-text4 {
    font-size: 20px;
}
.question5 {
    display: flex;
    gap: 5rem;
    padding: 5rem 5rem;
    background-image: linear-gradient(to right, white 50%, black 50%);
}
.right {
    padding-left: 5rem;
}
.text2 {
    padding-bottom: 2rem;
    align-items: center;
}
.text3 {
    color: white;
    padding-bottom: 2rem;
    align-items: center;
}
.blockquote p{
    font-size: medium;
}
.ref {
    padding-top: 1rem;
    font-size: small;
}
.ref1 {
    padding-top: 1rem;
    color: white;
    font-size: small;
}
.btn.btn-primary{
    cursor: pointer;
    transition: 100ms ease;
}
.btn.btn-primary:hover{
    scale: 1.5;
}
@keyframes spin-and-pause {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(360deg);
  }


  33.01% {
    transform: rotate(360deg); 
  }
  66% {
    transform: rotate(360deg); 
  }

  66.01% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.card-img-top {
    animation: spin-and-pause 6s linear infinite;
}
