*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
}
:root{
    --text-color: hsl(0, 0%, 0%);
    --white: #fafafa;
    --main-color: #f3f3f3;
    --bg: #145771;
    --sky: #c8d9e6;
}
section { height: 100vh; }

header{
    position: fixed;
    top: 0%;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: #f6f4e2;
    display: flex;
    list-style-type: none;
    gap: 1rem;
    padding: 4px 8rem;
    justify-content: space-between;
    transition: all .50s ease;
}
header.sticky{
    padding: 4px 17%;
    background: transparent;
    backdrop-filter: blur(35px);
}
.logo{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 700;
    color: var(--bg);
    padding-top: 0.5rem;
    text-decoration: none;
}
ul.navbar {
    list-style: none;      
    margin: 0;          
    padding: 0;            
    display: flex;         
    gap: 3rem;            
    align-items: center;
}
ul.navbar li {
    margin: 0;
}
ul.navbar a {
    font-family: 'Playfair Display', serif;
    display: block;
    text-decoration: none;
    color: #001e31;
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    margin: 15px 22px;
    transform: all .50s ease;
    text-decoration: none;
}
.home {
    padding : 0;
    display: flex;
    background-color:#001e31;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 1.5;
    align-items: center;
}
.home h1{
    font-size: 3rem;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}
.home h3{
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 1.5rem;
    text-align: center;
}
.home p{
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 2rem;
    max-width: 500px;
}
.home .btn{
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: var(--navy);
    background-color: var(--white);
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    display: block;
    margin: 4 auto;
    cursor: pointer;
    transition: 100ms ease;
}
.home .btn:hover{
    background-color: var(--sky);
    scale: 1.5;
}
.gen {
    flex: 1 1 50%;
    max-width: 100%;
    background-image: url('genai.png');
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding: 0;
}
.gen img {
    width: 1500px;
    height: auto;
    object-fit: cover;
    display: block;
}
.home-text {
    flex: 1 1 50%;
    padding: 5rem 5rem;
    background-color: #001e31;
    max-width: 100%;
    text-align: justify;
}
.newsletter-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
}
.newsletter-text h2{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 3rem;
}
.newsletter-text p{
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-align: center;
}
.newsletter-content form{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 1rem;
}
.newsletter-content form input:first-child{
    padding: 15px;
    background: black;
    font-size: var(--p-font);
    color: var(--text-color);
    border-radius: 5px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(155px, auto));
    gap: 2rem;
    padding: 5%;
    margin-left: 30px;
}
.footer-box{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.footer-box h3{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px; 
}
.footer-box a{
    color: #979797;
    margin-bottom: 0.8rem;
    transition: all .50s ease;
    text-decoration: none;
}
.footer-box a:hover{
    transform: translateY(-5px);
    color: var(--text-color);
}
.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: #202020;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 50%;
    margin-right: 2px;
    transition: transform 0.6s;
}
.social a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transform: translateX(-4px);
}
.social-img img{
        width: 100vh;
        height: auto;
        border-radius: 10px;
}

